{
  "extends": "eslint-config-airbnb-base",
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["!test/**/*.js"]}]
  }
}
